.popup-box {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.box {
  z-index: 250;
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  height: 500px;
  max-height: 70vh;
  margin-top: calc(110vh - 85vh - 20px);
  background: linear-gradient(180deg, #8359be 20%, #793ad8 50%, #a886fb);
  border-radius: 20px;
  padding: 20px;
  // border: 1px solid #999;
  overflow: auto;
}

.close-icon {
  content: "X";
  cursor: pointer;
  position: fixed;
  right: 38vw;
  top: calc(113vh - 85vh - 33px);
  // background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  // border: 1px solid #999;
  font-size: 20px;
  color: red;
  font-size: xx-large;
}

.popup-main {
  font-size: 20px;
  font-family: "FontsFree";
  border-radius: 20px;
  padding: 0 10px;
  background-color: #251b43;
  color: #ffffff;
  width: 250px;
  margin: 0 auto;
}

.popup-header {
  text-align: center;
  font-size: 30px;
}

.popup-title-main {
  text-align: center;
  font-size: 20px;
  margin: 10px;

  .popup-title-text {
    font-size: 20px;
    margin-top: 20px;
    max-width: 400px;
    width: 100%;
    font-family: "Gilmer-Light";
    border-radius: 10px;
  }
}

.popup-desc-main {
  text-align: center;
  font-size: 20px;
  margin: 10px;

  .popup-desc-text {
    font-size: 20px;
    margin-top: 20px;
    max-width: 400px;
    width: 100%;
    height: 150px;
    font-family: "Gilmer-Light";
    resize: none;
    border-radius: 10px;
  }
}

.popup-amount-main {
  text-align: center;
  font-size: 20px;
  margin: 10px;

  .popup-amount-text {
    font-size: 20px;
    margin-top: 20px;
    max-width: 400px;
    width: 100%;
    font-family: "Gilmer-Light";
    border-radius: 10px;
  }
}

.popup-button-main {
  text-align: center;

  .popup-button {
    margin-top: 30px;
    font-size: 20px;
    font-family: "FontsFree";
    border-radius: 20px;
    padding: 0 10px;
    background-color: #251b43;
    color: #ffffff;
  }
}

@media screen and (min-width: 2561px) {
}

@media screen and (min-width: 2000px) and (max-width: 2560px) {
}

@media screen and (min-width: 1600px) and (max-width: 1999px) {
}

@media screen and (min-width: 1440px) and (max-width: 1599px) {
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
}

@media screen and (max-width: 767px) {
  .box {
    width: 80%;
    max-width: 400px;
    height: 500px;
    max-height: 70vh;
    margin-top: calc(110vh - 85vh - 20px);
  }

  .close-icon {
    content: "X";
    cursor: pointer;
    position: fixed;
    right: 12vw;
    top: calc(113vh - 85vh - 33px);
    // background: #ededed;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    // border: 1px solid #999;
    font-size: 20px;
    color: red;
    font-size: xx-large;
  }

  .popup-main {
    font-size: 20px;
    font-family: "FontsFree";
    border-radius: 20px;
    padding: 0 10px;
    background-color: #251b43;
    color: #ffffff;
    width: 250px;
    margin: 0 auto;
  }

  .popup-header {
    text-align: center;
    font-size: 20px;
  }

  .popup-title-main {
    text-align: center;
    font-size: 10px;
    margin: 10px;

    .popup-title-text {
      font-size: 20px;
      margin-top: 20px;
      max-width: 400px;
      width: 100%;
      font-family: "Gilmer-Light";
      border-radius: 10px;
    }
  }

  .popup-desc-main {
    text-align: center;
    font-size: 10px;
    margin: 10px;

    .popup-desc-text {
      font-size: 20px;
      margin-top: 20px;
      max-width: 400px;
      width: 100%;
      height: 150px;
      font-family: "Gilmer-Light";
      resize: none;
      border-radius: 10px;
    }
  }

  .popup-amount-main {
    text-align: center;
    font-size: 10px;
    margin: 10px;

    .popup-amount-text {
      font-size: 20px;
      margin-top: 20px;
      max-width: 400px;
      width: 100%;
      font-family: "Gilmer-Light";
      border-radius: 10px;
    }
  }

  .popup-button-main {
    text-align: center;

    .popup-button {
      margin-top: 30px;
      font-size: 15px;
      font-family: "FontsFree";
      border-radius: 20px;
      padding: 0 10px;
      background-color: #251b43;
      color: #ffffff;
    }
  }
}
