.stream-single-main {
  background: linear-gradient(130deg, #251b43 55%, #746cfe);
  min-height: 120vh;
  display: block;

  .stream-single-heading {
    font-size: xx-large;
    text-align: center;
    font-family: "FontsFree";
    padding-top: 100px;
    color: #ffffff;
    padding-top: 100px;
    text-shadow: 0 0 2px #ffff, 0 0 10px #a886fb, 0 0 2px #fff, 0 0 10px #a886fb,
      0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff;
  }

  .stream-holder {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 70px;
    border-radius: 20px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
  }

  .stream-vid {
    width: 300%;
    max-width: 1080px;
    height: 400px;
    border-radius: 20px;
    margin: 10px;
    // margin-right: 50px;
    padding-left: 8vw;

    div {
      width: 95% !important;
      max-width: 1080px;
      height: 400px !important;

      video {
        border-radius: 20px;
      }
    }
  }

  .chats-pre {
    width: 100%;
    position: inherit;
    margin: 0px 50px 0px 0px;
    background: linear-gradient(-45deg, #793ad8 50%, #a886fb);
    color: #fff;
    font-size: 1.5vw;
    height: 20vh;
    text-align: center;
    border-radius: 20px;
  }

  .chats-pre-txt {
    margin: 20px;
  }

  .chats-pre-btns {
    display: flex;
    margin: 40px 10px 10px 10px;
  }

  .chats-btn {
    height: 30px;
    margin: 0 auto;
    border-radius: 10px;
    width: 100px;
    background: linear-gradient(90deg, #242132, #746cfe, #ae8cfe);
    border: none;
    color: white;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    background-size: 600% 200%;
    animation: gradient 4s linear infinite;
    animation-direction: alternate;
    cursor: pointer;
  }

  .chats-no {
    width: 100%;
    position: inherit;
    margin: 0px 30px 0px 0px;
    background: linear-gradient(-45deg, #793ad8 50%, #a886fb);
    color: #fff;
    font-size: 1.5vw;
    height: 20vh;
    text-align: center;
    border-radius: 20px;
  }

  .chats-no-txt {
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
  }

  .chats {
    display: flex;
    width: 100%;
    position: inherit;
    margin: 0px 30px 0px 0px;
  }
}

@media screen and (min-width: 1600px) and (max-width: 2560px) {
  .stream-single-main .stream-vid {
    max-width: none;
  }
}

// @media screen and (max-width: 1440px) and (max-width: 1599px) {
//   .stream-holder {
//     flex-direction: row !important;
//     overflow: hidden;
//   }
//   .
//   // .cs-left-container {
//   //   width: 100% !important;
//   // }
//   // .cs-right-container {
//   //   padding: 0 !important;
//   // }
// }

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .stream-holder {
    flex-direction: row !important;
    overflow: hidden;
  }
  .stream-single-main .stream-vid {
    width: 250%;
    padding-left: 1%;
    margin: 10px 10px 50px 10px;
  }
  .stream-single-main .chats-pre {
    margin: 0px 30px 0px 0px;
  }
  .stream-single-main .chats-no {
    margin: 0px 30px 0px 0px;
  }
  // .cs-left-container {
  //   width: 100% !important;
  // }
  // .cs-right-container {
  //   padding: 0 !important;
  // }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .stream-holder {
    flex-direction: column !important;
    overflow: hidden;
  }
  .stream-single-main .stream-vid {
    width: 100%;
    padding-left: 1%;
    margin: 10px 10px 50px 10px;
  }
  .chats {
    padding: 0 !important;
    margin: 10px 10px 10px 0px !important;
  }
  .stream-single-main .stream-single-heading {
    font-size: x-large;
  }
  .stream-single-main .chats-pre {
    width: auto;
    margin: 0 auto;
    font-size: 20px;
  }
  .stream-single-main .chats-no {
    width: auto;
    margin: 0 auto;
    font-size: 20px;
    padding: 0px 20px 0px 20px;
  }
  .inactive_client_inner {
    left: 0;
    right: 0;
  }
}

@media screen and (max-width: 767px) {
  .exp-header {
    font-size: x-large;
  }

  .stream-holder {
    flex-direction: column !important;
    overflow: hidden;
  }
  .stream-vid {
    width: 100% !important;
    margin: 0 auto;
    padding-left: 0 !important;
  }
  .chats {
    padding: 0 !important;
    margin: 10px 10px 10px 0px !important;
  }
  .stream-single-main .stream-single-heading {
    font-size: x-large;
  }
  .stream-single-main .chats-pre {
    width: 94%;
    margin: 0px 10px 0px 10px;
    font-size: 20px;
  }
  .stream-single-main .chats-no {
    width: 94%;
    margin: 0px 10px 0px 10px;
    font-size: 20px;
  }
  .inactive_client_inner {
    left: 0;
    right: 0;
  }
}
