.navbar {
  position: relative;
  width: 100%;
  display: flex;
  // justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  z-index: 20;
  transition: top 0.6s;
  // background: rgb(116,108,254);
  // background: linear-gradient(120deg, #251843 99%, #746cfe);
  // background: linear-gradient(90deg, rgba(116,108,254,1) 50%, rgba(174,140,254,1) 100%);
  background-color: #251843;
}

.nav-ham-menu {
  display: none;
}

.nav-logo {
  text-decoration: none;
  color: white;
  margin-right: 20px;
  // display: none;
}

// .nav-links {
//   // display: grid;
//   display: flex;
//   align-items: center;
//   align-content: center;
//   grid-template-columns: repeat(4, auto);
//   grid-gap: 8px;
//   list-style: none;
// }

.nav-link {
  text-decoration: none;
  transition: 0.3s all;
  display: flex;
  align-items: center;
  align-content: center;
}

a.nav-link {
  padding: 0 !important;
}

ul.nav-links {
  display: flex;
  align-items: center;
  align-content: center;
  // flex-wrap: wrap;

  li {
    padding: 0 10px;
    // border-right: 1px solid #ffffff;
    // font-size: 5px;
  }

  // :last-child {
  //   // padding: 0 10px;
  //   border-right: none;
  //   font-size: 1.5rem;
  // }

  .main {
    position: absolute;
    margin: 0;
    padding: 0;
    margin-left: -40px;
    margin-top: -54px;
    z-index: 300;

    .add-chain-main {
      position: fixed;
      padding: 0;
      z-index: inherit;
      width: 100%;
      height: 100vh;
      background-color: rgba(255, 255, 255, 0.2);
      display: flex;
      align-items: center;
      align-content: center;
      z-index: 200;

      .add-chain-box {
        width: 400px;
        margin: 0 auto;
        text-align: center;
        height: 180px;
        background: linear-gradient(180deg, #8359be 20%, #793ad8 50%, #a886fb);
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        padding: 20px;
        border-radius: 20px;

        .add-chain-message {
          padding: 10px;
          flex-grow: 1;
          font-family: "Gilmer-Light";
          font-weight: 700;
          color: #ffffff;
          font-size: 20px;
          overflow: hidden;
          height: 300px;
        }

        .add-chain-btn {
          padding-top: 5px;
          width: 200px;
          font-family: "FontsFree";
          background: #251b43;
          color: #ffffff;
          border: 1px solid transparent;
          border-radius: 20px;
          cursor: pointer;
        }
      }
    }
  }
}

.navtextstyle {
  font-family: "Neon";
  font-size: 2rem;
  font-weight: 500;
  color: #fefcff;
  padding: 5px 10px;
  cursor: pointer;
  // -webkit-animation: glow 1s ease-in-out infinite alternate;
  // -moz-animation: glow 1s ease-in-out infinite alternate;
  // animation: glow 1s ease-in-out infinite alternate;
}

// @keyframes glow {
//   from {
//     text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
//       0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
//   }
//   to {
//     text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
//       0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
//   }
// }

.nav-icon {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: white;
}

.mobile-menu {
  display: none;
}

.mobile-menu-btn {
  margin: 0 auto;
  div {
    button {
      width: fit-content;
      border-radius: 10px;
      padding: 3px;
      font-family: "FontsFree" !important;
      cursor: pointer;
      color: #ffffff;
      border: 0px;
      font-weight: 800;
      animation: login-color-changer 10s ease infinite;
      display: flex;
      align-items: center;
      align-content: center;
      background-color: #a886fb;
      font-size: small !important;
      white-space: nowrap;
    }
  }
}

.nav-button {
  width: 145px;
  border-radius: 10px;
  padding: 3px;
  font-family: "FontsFree";
  cursor: pointer;
  color: #ffffff;
  border: 0px;
  font-weight: 800;
  animation: login-color-changer 10s ease infinite;
  display: flex;
  align-items: center;
  align-content: center;
}

.nav-disconnect {
  width: 180px;
  border-radius: 10px;
  padding: 3px;
  font-family: "FontsFree";
  cursor: pointer;
  color: #000;
  border: 0px;
  font-weight: 800;
  background-color: #a886fb;
  display: flex;
  align-items: center;
  align-content: center;
  // animation: logout-color-changer 10s ease infinite;
}

.connection-options-container {
  position: absolute;

  .connection-options {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(168, 134, 251, 0.4);
    z-index: 300;
    display: flex;
    align-items: center;
    align-content: center;
    color: #ffffff;

    .options-holder {
      width: 25%;
      height: 200px;
      margin: 0 auto;
      background: linear-gradient(180deg, #a886fb 50%, #793ad8);
      overflow: hidden;
      border-radius: 30px;
      padding: 20px;

      .options-heading {
        text-align: center;

        h2 {
          font-family: "FontsFree";
          font-size: 11px;
        }
      }

      .options-container {
        width: 100%;
        display: inline-flex;
        align-items: center;
        align-content: center;
        margin-top: 30px;

        .wallets {
          width: 100%;
          text-align: center;

          .wallet-image {
            width: 100px;
            height: 100px;
            cursor: pointer;
          }
        }
      }

      // .metamask {
      //   width:50%;
      //   text-align: center;

      //   .mm {
      //     width: 100px;
      //     height: 100px;
      //     cursor: pointer;
      //   }
      // }
    }
  }
}

ul.nav-sub-menu {
  position: absolute;
  padding: 20px !important;
  background-color: transparent;
  border-radius: 20px;

  li {
    padding: 20px !important;
    border-right: none;
    font-family: "Neon";
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-size: 1.2rem;
    background-color: #793ad8;
    font-weight: 600;
    margin: 10px 10px;
    border-radius: 10px;

    a {
      color: #fefcff;
    }
  }
}

.nav-sub-menu-profile {
  color: #ffffff;
}

#notifications {
  position: fixed;
  width: 450px;
  height: 300px;
  z-index: 20;
  bottom: 20px;
  right: 0;
  overflow: hidden;

  .notification-main {
    width: calc(100% - 40px);
    margin: 0 auto;
    position: absolute;
    display: flex;
    align-items: center;
    align-content: center;
    background-color: #ffffff;
    padding: 10px;
    bottom: 0;
    color: #251843;
    font-family: "Neon";
    border-radius: 20px;
    animation: notificationshowup 50ms ease;

    .message {
      width: 430px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .close-btn {
      cursor: pointer;
    }
  }
}

@keyframes login-color-changer {
  0% {
    background-color: #a886fb;
  }

  25% {
    background-color: #793ad8;
  }

  75% {
    background-color: #8e59be;
  }

  100% {
    background-color: #a886fb;
  }
}

@keyframes logout-color-changer {
  0% {
    background-color: #a886fb;
  }

  25% {
    background-color: #793ad8;
  }

  75% {
    background-color: #8e59be;
  }

  100% {
    background-color: #a886fb;
  }
}

@keyframes notificationshowup {
  0% {
    right: -450px;
  }

  90% {
    transform: translateX(15px);
  }

  100% {
    right: 10px;
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

// @media only screen and (max-width: 500px) {
//   .navbar {
//     position: relative;
//   }

//   .nav-links {
//     display: flex;
//     flex-direction: column;
//     position: absolute;
//     text-align: center;
//     width: 100%;
//     top: 80px;
//     left: -120%;
//     transition: 0.5s all;
//     padding: 0 !important;
//   }

//   .navtextstyle {
//     font-family: "CrimsonTextSemiBold";
//     font-size: 35px;
//     font-weight: 900;
//   }

//   .nav-links.active {
//     background-color: #05025f;
//     /* opacity: 0.5; */
//     left: 0;
//     z-index: 1000;
//   }

//   .nav-item {
//     padding: 10px 0;
//     display: flex;
//     align-items: center;
//     align-content: center;
//   }

//   .nav-icon {
//     display: flex;
//   }
// }

.nav-item-btn {
  div {
    button {
      width: fit-content;
      border-radius: 10px;
      padding: 3px;
      font-family: "Neon" !important;
      cursor: pointer;
      color: #ffffff;
      border: 0px;
      font-weight: 600;
      animation: login-color-changer 10s ease infinite;
      display: flex;
      align-items: center;
      align-content: center;
      background-color: #a886fb;
    }
  }
}

.ju367vb0 {
  backdrop-filter: blur(20px) !important;
  background: none !important;
}

.iekbcc0 {
  font-size: 17px;
}

@media screen and (min-width: 2561px) {
  .navtextstyle {
    font-size: 2rem;
  }
  .nav-button {
    font-size: 1.5vw;
    width: fit-content;
  }
  .nav-disconnect {
    font-size: 1.5vw;
    width: fit-content;
  }
}

@media screen and (min-width: 2000px) and (max-width: 2560px) {
  .navtextstyle {
    font-size: 2rem;
  }
  .nav-button {
    font-size: 1.3vw;
    width: fit-content;
  }
  .nav-disconnect {
    font-size: 1.3vw;
    width: fit-content;
  }
}

@media screen and (min-width: 1600px) and (max-width: 1999px) {
  .navtextstyle {
    font-size: 2rem;
  }
  .nav-button {
    font-size: 1vw;
    width: fit-content;
  }
  .nav-disconnect {
    font-size: 1vw;
    width: fit-content;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1599px) {
  .navtextstyle {
    font-size: 2rem;
  }
  .nav-button {
    font-size: 17px;
    width: fit-content;
  }
  .nav-disconnect {
    font-size: 17px;
    width: fit-content;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1439px) {
  .navtextstyle {
    font-size: 2rem;
  }
  .nav-item-ctbtn {
    font-size: 1.2vw;
  }

  a.nav-link {
    font-size: 10px !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .navbar {
    display: block;
  }

  .nav-links {
    display: none !important;
  }

  .nav-logo {
    display: block;
  }
  iekbcc0
    iekbcc9
    ju367v73
    ju367v7o
    ju367v9c
    ju367vn
    ju367vec
    ju367vex
    ju367v11
    ju367v1c
    ju367v2b
    ju367v8o
    _12cbo8i3
    ju367v8m
    _12cbo8i4
    _12cbo8i6
    .nav-links {
    display: none !important;
  }

  .nav-ham-menu {
    display: block !important;
    top: 20px;
    right: 30px;
    position: fixed;
    z-index: 4000;
  }

  .mobile-menu {
    display: block;
    position: fixed;
    top: 0px;
    padding: 30px 0 0 8.5vw;
    z-index: 3000;
    margin: 50px 40px 40px 0px;
  }

  .mobile-menu ul {
    width: 80vw;
    font-size: 20px;
    list-style: none;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px 10px 10px 10px;
    z-index: 200;
    // padding: 0 !important;
    font-family: "Neon";
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    color: #ffffff;
    border-radius: 10px;
  }

  .nav-sub-menu {
    margin: -10px;
  }

  .nav-button {
    width: auto;
    margin: 0 auto;
    font-size: 10px;
  }
}

@media screen and (max-width: 767px) {
  .navbar {
    display: block;
  }

  .nav-logo {
    display: block;
  }

  .nav-links {
    display: none !important;
  }

  .nav-ham-menu {
    display: block !important;
    top: 20px;
    right: 30px;
    position: fixed;
    z-index: 4000;
  }

  .mobile-menu {
    display: block;
    position: fixed;
    top: 0px;
    padding: 30px 0 0 7vw;
    z-index: 3000;
    margin: 50px 40px 40px 0px;
  }

  .mobile-menu ul {
    width: 80vw;
    font-size: 20px;
    list-style: none;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px 10px 10px 10px;
    z-index: 200;
    // padding: 0 !important;
    font-family: "FontsFree";
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    color: #ffffff;
    border-radius: 10px;
  }

  .nav-sub-menu {
    margin: -10px;
  }

  .nav-button {
    width: auto;
    margin: 0 auto;
    font-size: 10px;
  }

  .nav-sub-menu-player {
    display: none;
  }
}
