/* Song Request component styles */

.requests-main {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 20px auto;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: #fff;
  //   background-color: #f5f5f5;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid white;
  position: relative;

  .request-details {
    flex: 1 1 60%;
    margin-right: 2rem;

    .request-title {
      font-family: "Neon";
      font-size: 1.3rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
    .request-story {
      font-family: "Gilmer-Light";
      font-size: 1.2rem;
      line-height: 1.5;
      margin-bottom: 1rem;
    }
    .request-budget {
      font-family: "Gilmer-Light";
      display: flex;
      flex-direction: row;
      font-size: 1.2rem;
    }
    .status {
      font-weight: 600;
      font-family: "Gilmer-Light";
      font-size: 1rem;
      letter-spacing: 1px;
    }
  }
  .request-response {
    width: 30%;
    display: flex;

    .request-res-buttons {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;

      button {
        display: inline-block;
        font-family: "Neon";
        letter-spacing: 0.1rem;
        // margin-bottom: 1rem;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 0.25rem;
        font-size: 1rem;
        font-weight: 500;
        text-transform: uppercase;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          fill: #fff;
          margin-right: 10px;
        }

        &:hover {
          border: 1px solid white;
        }
      }
      .accept-request {
        background: linear-gradient(-45deg, #793ad8 50%, #a886fb);
        border: 1px solid #793ad8;
        color: #fff;
      }
      .paid-request {
        background-color: #4caf50;
        border: 1px solid #4caf50;
        color: #fff;
      }
      .disable {
        opacity: 0.5;
        pointer-events: none;
      }
      .rejest-request {
        background-color: #f44336;
        border: 1px solid #f44336;
        color: #fff;
      }
      .submit-work {
        background-color: #fff;
        border: 1px solid #fff;
        color: #793ad8;
        &:hover {
          border: 1px solid #793ad8;
        }
      }
    }
  }
}

.requests-main-buttons {
  width: 80%;
  margin: 20px auto;
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;

  button {
    cursor: pointer;
    border-radius: 10px;
    font-size: 1.5rem;
    font-family: "Neon";
    font-weight: 500;
    padding: 0.5rem 1rem;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    &:hover {
      background-color: #fff;
      border: 1px solid #793ad8;
      color: #793ad8;
    }
  }
  button.active {
    background-color: white;
    color: #793ad8;
  }
}
// @media (hover: hover) and (pointer: fine) {
//   .requests-main:hover {
//     .request-details {
//       opacity: 0.5;
//     }
//     .request-response {
//       position: absolute;
//       left: 50%;
//       top: 50%;
//       width: 100%;
//       height: 100%;
//       background-color: rgba(0, 0, 0, 0.1);
//       transform: translate(-50%, -50%);
//       max-width: 100%;
//       text-align: center;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//     }
//   }
// }

@media only screen and (max-width: 768px) {
  .requests-main {
    flex-direction: column;
    .request-details {
      width: 100%;
    }
    .request-response {
      width: 100%;
      position: relative;
      max-width: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      .request-res-buttons {
        button {
          padding: 0.35rem 0.75rem;
          font-size: 10px;
        }
      }
    }
  }
}
