.data-loading {
  width: 300px;
  height: 300px;
  //   background: linear-gradient(130deg, #251b43 50%, #746cfe);
  padding: 50px 50px 100px 50px;
  // background-color: transparent;
  background-color: #00000056;
  // overflow: hidden;
  display: flex;
  align-items: center;
  align-content: center;
  border-radius: 20px;
  margin: 0 auto;

  .loading-inner {
    display: block;
    width: 300px;
    height: 200px;
    margin: 0 auto;

    #Capa_1 {
      margin: 0 auto;
      animation-name: bounce;
      animation-duration: 5s;
      animation-iteration-count: infinite;
      animation-timing-function: ease;
      width: 300px;
      height: 200px;
    }

    .message {
      margin-top: 40px;
      font-family: "FontsFree";
      color: #ffffff;
      font-size: 20px;
      text-align: center;
    }

    .message-main {
      width: 100%;
      display: flex;
      text-align: center;
    }

    .message-load {
      padding-top: 40px;
      display: flex;
      margin: 0 auto;
    }
  }
}

@keyframes bounce {
  0% {
    transform: matrix(1, 0, 0, 1, 0, 0);
  }

  50% {
    transform: matrix(1, 0, 0, 1, 0, 20);
  }

  100% {
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}

.dot1,
.dot2,
.dot3 {
  background: #fff;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin: 10px;
}

.dot1 {
  animation: jump 1.6s -0.32s linear infinite;
  background: #fff;
}
.dot2 {
  animation: jump 1.6s -0.16s linear infinite;
  background: #fff;
}
.dot3 {
  animation: jump 1.6s linear infinite;
  background: #fff;
}

@keyframes jump {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(2);
    transform: scale(2);
  }
}
